.App {
  font-family: sans-serif;
  text-align: center;
}

.webcam {
  border: 1px solid gray;
  max-width: 600px;
  max-height: 1200px;
  margin: 2px;
}

.inputImage {
  display: none;
}

.outputImage {
  border: 1px solid blue;
  max-width: 600px;
  max-height: 1200px;
  margin: 2px;
}
